body {
    background: #FF21AE;
}
.align-left {
    float: left;
    margin-right: 1em;
}
.align-right {
    float: right;
    margin-left: 1em;
}
.slide-in {
    transition: 
        transform .5s linear,
        opacity .7s ease-in-out;
    opacity: 0;
}
.slide-in.align-left {
    transform: translateX(-30%);    
}
.slide-in.align-right {
    transform: translateX(30%);    
}
.slide-in.active {
    transform: translate(0px);
    opacity: 1;
}
.site-wrap {
    max-width: 668px;
    margin: 4em auto;
    padding: 0 2em;
    background: white;
    text-align: justify;
}
.header {
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: .67em;
}